<div class="ticket-list-container">
  <div class="header">
    <h2 class="list-title">Tickets List for technician {{ technicianId }}</h2>
  </div>
  <table class="ticket-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Subject</th>
      <th>Created At</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.tickettId }}</td>
      <td>{{ ticket.subject }}</td>
      <td>{{ ticket.createdAt | date }}</td>
      <td>{{ ticket.ticketStatus }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
