<div class="header-container">
  <div class="header">
    <h2 class="list-title">
      <i class="fas fa-list"></i>
      Liste des Équipements
    </h2>
    <button routerLink="add-equipment" class="btn btn-add">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</div>

<div class="equipment-list-container">
  <div class="card-container">
    <div class="card" *ngFor="let equipment of equipmentList">
      <img [src]="equipment.img" alt="{{ equipment.name }}" class="card-img" />
      <div class="card-body">
        <h3 class="card-title">{{ equipment.name }}</h3>
        <p class="card-type">{{ equipment.type }}</p>
        <p class="card-status">{{ equipment.status }}</p>
        <div class="card-actions">
          <button (click)="editEquipment(equipment.equipmentId)" class="btn btn-edit">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deleteEquipment(equipment.equipmentId)" class="btn btn-delete">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
