<div class="header-container">
  <div class="header">
    <h2 class="list-title">
      <i class="fas fa-list"></i>  Liste des Techniciens
    </h2>
    <button routerLink="add-technician" class="btn btn-add">
      <i class="fas fa-user-plus"></i>
    </button>
  </div>
</div>


<div class="technician-list-container">
  <table class="technician-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Rôle</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let technician of technicians">
      <td>{{ technician.personId }}</td>
      <td>{{ technician.userName }}</td>
      <td>{{ technician.email }}</td>
      <td>{{ technician.role }}</td>
      <td>
        <button (click)="deleteTechnician(technician.personId)" class="btn btn-delete"><i class="fas fa-trash-alt"></i>Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>
</div>
