<div class="header-container">
  <div class="header">
    <h2 class="list-title">
      <i class="fas fa-exclamation-triangle"></i> Liste des Échecs
    </h2>
    <button routerLink="add-failure" class="btn btn-add">
      <i class="fas fa-plus-circle"></i>
    </button>
  </div>
</div>


  <div class="failure-list-container">
  <table class="failure-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Type</th>
      <th>Edit</th>
      <th>Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let failure of failures">
      <td>{{ failure.failureId }}</td>
      <td>{{ failure.description }}</td>
      <td>{{ failure.type }}</td>
      <td>
        <button (click)="editFailure(failure.failureId)" class="btn btn-edit">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </td>
      <td>
        <button (click)="deleteFailure(failure.failureId)" class="btn btn-delete">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
