<header class="header">
  <nav class="navbar">
    <div class="logo">
      <h1><img src="assets/Image/serviceit-you-can-do-it-early-access-logo.webp" alt="Logo"></h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/solutions">Solutions</a></li>
      <li><a routerLink="/contact">Contact</a></li>
    </ul>
    <div class="nav-buttons">
      <a routerLink="/login" class="login-btn">Log In</a>
      <a routerLink="/signup" class="signup-btn">Sign Up</a>
    </div>
<!--    <div routerLink="">Log Out</div>-->
  </nav>
</header>
